.contact-main {
  background: #909090;
  color: #fcf614;
  div {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.8rem;
  }
}